$container-desktop: 1170px;
$container-pc: 991px;
$container-phone: auto;
$logo-main-color: #ffffff;
$logo-sec-color: #42a9ed;
$lh-size: 18px;
$link-color: #ffffff;
$text-size: 13px;
$text-color: #000000;
$font-weight: 400;
$title-size: 36px;
$title-color: #ffffff;
$title-span-color: #3e9cdc;
$hover-link-color: #43abf0;
$bg-input: rgba(255, 255, 255, 0.85);
$focus-field-text-color: #ffffff;
$focus-field-bg-color: #3d4050;
$bg-hover-button: #33a9f9;
$bg-button: #3e9cdc;
$placeholder-size: 18px;
$placeholder-color: #272733;
$border: 1px solid #ffffff;
$font-family: "Lato", "Arial", sans-serif;
